<!DOCTYPE html>
<html>
<head>
<title>Title of the document</title>
<style>
#border 
{
  border-style: solid;
  border-width: 3px;
  background: #6C4E31;
  height: 80px;

}

#heding 
{
  text-align: center;
  
}
h1{
    color: #6C4E31;
}


</style>
</head>

<body>
<header id= 'border'>

  <h1 id= 'heding'>Book System</h1>
  
</header>

</body>

</html>